name = "ham-study"
compatibility_date = "2024-11-12"
compatibility_flags = ["nodejs_compat"]
main = "./workers/app.ts"
assets = { binding = "ASSETS", directory = "./build/client" }

routes = [
  { pattern = "ham.charlesify.com", custom_domain = true }
]

[placement]
mode = "smart"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1